# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# User-specific stuff:
.idea
*.iml

# IntelliJ
out/

# Misc
.DS_Store
*/.DS_Store
src/.DS_Store
src/main/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
